html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #F0F0F0;
}
h1 {
  text-align: center;
  color: #ee9bad;
  font-size: 26px;
  width: 600px;
  margin: 30px auto;
  border-bottom: 1px solid #ffc0cb;
  box-shadow: inset 0 -1px #ccc;
  letter-spacing: .5em;
}
.sound {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sound .sound-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sound .sound-content path,
.sound .sound-content polygon {
  fill: white;
  stroke: orange;
  stroke-width: 2px;
  opacity: 0;
}
.sound .sound-content polygon {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
}
.sound .sound-content #path1,
.sound .sound-content #path2,
.sound .sound-content #path3,
.sound .sound-content #path4 {
  transition: opacity 0.3s ease,
      transform 0.3s ease;
}
.sound .sound-content #path4 {
  transform: scale(0.3);
  transform-origin: center;
}
.sound .sound-content p {
  transition: opacity 0.3s ease;
  transition-delay: 0.3s;
  opacity: 0;
  position: absolute;
  padding-left: 55px;
  padding-top: 13px;
}
.sound .sound-content:hover p {
  opacity: 1;
}
.sound .sound-content:hover #path1,
.sound .sound-content:hover #path2,
.sound .sound-content:hover #path3,
.sound .sound-content:hover #path4 {
  opacity: 1;
}
.sound .sound-content:hover #path1 {
  transition-delay: 0s;
}
.sound .sound-content:hover #path2 {
  transition-delay: 0.1s;
}
.sound .sound-content:hover #path3 {
  transition-delay: 0.2s;
}
.sound .sound-content:hover #path4 {
  transition-delay: 0.3s;
  transform: scale(1);
}
.sound .sound-content:hover polygon {
  stroke-dashoffset: 0;
  opacity: 1;
}
.sound .sound-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.sound .sound-content img:hover {
  cursor: pointer;
}
.sound .sound-content span {
  margin-top: 20px;
  font-size: 22px;
  color: #666;
}
